.tic-tac-toe {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.tic-tac-toe table {
  font-size: 32px;
  font-weight: bold;
  border: 2px bold;
  align-self: center;
}

.tic-tac-toe td {
  width: 64px;
  height: 64px;
  background: #afafaf;
}

.tic-tac-toe button {
  max-width: 128px;
  align-self: center;
  padding: 8px;
  background: #afafafaf;
  border: none;
  border-radius: 6px;
  color: #020202;
}
